{% if has_sidebar is not defined %}{% set has_sidebar = false %}{% endif %}
{% block pre_content %}
{% endblock %}
<div id="primary" class="content-area">
    <div id="content" class="content" role="main">
        {% block title %}
        {% endblock %}
        <div class="row" {% if content_attr is defined %}{{ content_attr|raw }}{% endif %}>
            <div class="small-12 {% if has_sidebar %}medium-7 large-8{% endif %} columns">
                {% block content %}
                {% endblock %}
            </div>
            {% if has_sidebar %}
                <div class="small-12 medium-5 large-4 columns large-collapse">
                    <div id="side">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>