{{
    posts_pagination({
        'prev_text'          : 'Previous page',
        'next_text'          : 'Next page',
        'before_page_number' : '<span class="meta-nav screen-reader-text">Page</span>',
    })
}}