<div id="share">
    <span class='st_pinterest_large' displayText='Pinterest'></span>
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_print_large' displayText='Print'></span>
    <span class='st_email_large' displayText='Email'></span>
</div>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    stLight.options({
        publisher: "31abfba6-0978-4139-8479-d6e96f61d25f",
        doNotHash: true,
        doNotCopy: true,
        hashAddressBar: true
    });
</script>