<div id="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    {{ the_author_avatar(60) }} <h4>By: <a href="{{ the_author_posts_url(the_author_ID()) }}" itemprop="name">{{ the_author() }}</a></h4>
</div>