{% extends 'template/main.html.twig' %}
{% block title %}
    <div class="row column">
        <h1 class="text-center">{{ the_title() }}</h1>
    </div>
{% endblock %}
{% block content %}
        <h1 class="text-center">404 - Nothing Found</h1>
{% endblock %}