{% extends 'template/main.html.twig' %}
{% block content %}
    {% if content %}
        <h1>{{ title | raw }}</h1>
        {% include 'partials/related.html.twig' with {'related': content, 'related_title': false, 'grid_sizes': [1, 2, 4] }%}
        {% include 'partials/pagination.html.twig' %}
    {% else %}
        <h1>Nothing Found</h1>
    {% endif %}
{% endblock %}