<div id="primary" class="content-area">
    <main id="content" class="content" role="main">
        {% if content %}
            <div class="row column text-center">
                <h1 class="page-title">Articles</h1>
            </div>
            <div class="row column">
                <div class="medium-9 columns">

                    <div class="row small-up-1 large-up-3 teasers">
                        {% for teaser in content %}
                            <div class="column">
                                {{ teaser | raw }}
                            </div>
                        {% endfor %}
                    </div>

                    {{
                    posts_pagination({
                        'prev_text'          : 'Previous page',
                        'next_text'          : 'Next page',
                        'before_page_number' : '<span class="meta-nav screen-reader-text">Page</span>',
                    })
                    }}
                </div>
                <div class="medium-3 columns collapse">
                    <div id="side">
                        {% include 'partials/post-sidebar-search.html.twig' %}
                        {% include 'partials/post-sidebar-categories.html.twig' %}
                        <div id="archives">
                            <h4>Archives</h4>
                            <ul class="no-bullet">
                                {{ archives | raw }}
                            </ul>
                        </div>

                        {{ the_field("sidebar_content") | raw }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row column">
                <h1 class="page-title">Nothing Found</h1>
            </div>
        {% endif %}

    </main><!-- .site-main -->
</div><!-- .content-area -->