.teaser#teaser-ad {
  .teaser-content {
    padding: 120px 0;
    border: 2px solid $primary-2;
    margin: 6px;
  }
  img {
    width: 120px;
    margin-bottom: 1rem;
  }
  h3 {
    color: $ad-color;
    font-size: rem-calc(28px);
  }
  .button {
    border-color: $ad-color;
    color: $ad-color;
    font-size: rem-calc(24px);
    padding: 8px 28px;
    border-width: 2px;
    border-radius: 4px;
  }
}

.row#large-ad {
  border: 1px solid $border-color;
  background-color: #FFF;
  padding: 30px;
  margin-top: 80px;
  .content {
    display: inline-block;
    position: relative;
    overflow: visible;
    h3 {
      font-size: rem-calc(40px);
      small {
        display: block;
        color: $primary-1;
        font-size: rem-calc(32px);
        margin-top: rem-calc(10px);
        line-height: 1;
      }
    }
    a.button {
      font-family: $header-font-family;
      font-size: rem-calc(22px);
      padding: 12px 32px;
      position: relative;
    }

    @include breakpoint(medium) {
      &::before, &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 20px;
      }
      &::before {
        width: 65px;
        height: 101px;
        background-image: url("../images/advertise-with-us-left.png");
        left: -65px;
      }
      &::after {
        width: 93px;
        height: 101px;
        background-image: url("../images/advertise-with-us-right.png");
        right: -93px;
      }
      h3 {
        display: inline-block;
        text-align: right;
        small {
          line-height: 0;
        }
      }
      a.button {
        display: inline-block;
        top: rem-calc(-22px);
        margin-left: 2rem;
      }
    }
  }
}