#author-bio {
  max-width: rem-calc(860px);
}
#author-overview {
  text-align: center;
  margin-top: -1*$global-margin;
  margin-bottom: $global-margin;
}
#author-profile-pic, #author-lightbox-profile-pic {
  margin-bottom: $global-padding/2;
}
#author-bio-teaser {
  margin-bottom: $global-margin*2;
}
#author-social, #author-lightbox-social {
  h4 {
    font-size: rem-calc(24px);
  }
  a {
    &:focus {
      outline: none;
      border: none;
      text-decoration: none;
    }
    &.web .fa-circle {
      color: #FD6804;
    }
    &.google-plus .fa-circle {
      color: #EE7547;
    }
    &.twitter .fa-circle {
      color: #A2BFF2;
    }
    &.facebook .fa-circle {
      color: #9580A4;
    }
    &.linkedin .fa-circle {
      color: #405F85;
    }
    &.pinterest .fa-circle {
      color: #E55438;
    }
    &.instagram .fa-circle {
      color: #405F85;
    }
    &.youtube .fa-circle {
      color: #cc181e;
    }
    .fa {
      color: $white;
    }
    .fa-2x {
      font-size: rem-calc(16px);
    }
    .fa-stack-2x {
      font-size: rem-calc(36px);
    }
    .fa-stack-1x {
      position: relative;
      top: rem-calc(2px);
    }
    &:hover {
      .fa-circle {
        opacity: 0.8;
      }
    }
  }
}