.fa-star, .fa-star-o, .fa-star-half, .fa-star-half-o {
  color: $primary-3;
}
#comments {
  margin-top: 2rem;
  .comment {
    margin-bottom: 2rem;
  }
  .author, .details { float: left; }
  .author {
    margin-right: 2rem;
    img {
      border-radius: 100%;
    }
  }
  h4 {
    margin: 0;
  }
  > h4 {
    margin-bottom: 2rem;
  }
  .rating, .date { display: inline-block; }
  .rating {
    font-size:1.5rem;
    margin-right: 1rem;
  }
  .date {
    position: relative;
    bottom: rem-calc(2px);
  }
  .content {
    margin-top: 1rem;
  }
  .star {
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 0.5rem 1rem 0;
    &:hover {
      cursor: pointer;
    }
  }
}
#commentform {
  border: 2px solid #e5e4e0;
  padding: 2rem;

  input[type=submit] {
    font-family: $header-font-family;
  }

  .comment-notes {
    display: none;
  }
}