#footer-logo {
  height: 50px;
  background-color: $secondary-1;
  text-align: center;
  position: relative;
  a {
    position: absolute;
    top: calc(100% - 100px);
    right: calc(50% - 100px);
  }
  img {
    width: 200px;
  }
}