#footer {
  background-color: $footer-color;
  padding-top: 2rem;
  color: $footer-font-color;
  .medium-2 ul.menu {
    margin-top: 128px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $secondary-2;
  }
  a {
    color: $white;
    &:hover {
      color: $anchor-color-hover;
    }
  }
  #footer-copyright {
    padding: 1rem;
    border-top: 2px dashed $footer-font-color;
    p { margin: 0; }
  }
}