#home-slider {
  position: relative;
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../images/border-splash.png");
    position: absolute;
    bottom: 0;
  }
}

.home #content .row.teasers div:nth-child(2n+1) {
  @include breakpoint(medium only) {
    clear: both;
  }
}