.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  font-family: "FontAwesome";
  content: "\f105";
  color: $primary-1;
  border: none;
  position: relative;
  top:-2px;
  right:0;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow.is-active > a::after {
  content: "\f107";
}

.is-accordion-submenu-parent > a::after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f105";
  color: $primary-1;
  border: none;
  position: relative;
  margin-top: 2px;
  top: 0;
  right:0;
  padding-left: 1rem;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
  content: "\f107";
  transform: scale(1);
}
.is-accordion-submenu-parent[aria-expanded="true"] > a {
  color: $secondary-1;
}

.sticky-container {
  height: auto !important;
}

#top-bar-container {
  width: 100%;
  margin-top: 0 !important;
  .row.column {
    position: relative;
  }
}
.admin-bar #top-bar-container {
  margin-top: 0 !important;
  @media all and (min-width: 769px) {
    margin-top: 32px !important;
  }
}

#search-bar {
  background-color: $secondary-1;
  > .collapse {
    padding: 0;
  }
  .button-group {
    font-size: 1rem;
    margin-right: 2px;
    position: relative;
    margin-bottom: 0;
    .button:not(:last-child) {
      border-right-color: $secondary-1;
      border-right-width: 1px;
    }
  }
  .input-group {
    margin-bottom: 0;
  }
  input {
    margin-right: 2px;
    border: none;
    width: calc(100% - 2px);
    -moz-appearance:    textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    &::-webkit-input-placeholder {
      color: $primary-3;
    }
    &:-moz-placeholder {
      /* FF 4-18 */
      color: $primary-3;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* FF 19+ */
      color: $primary-3;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $primary-3;
    }
    @include breakpoint(medium) {
      width: 290px;
    }
  }
  a.button {
    color: $white;
  }
  button {
    .fa {
      font-size: rem-calc(16px);
      position: relative;
      top: rem-calc(-1px);
      left: rem-calc(-1px);
    }
  }
  .menu {
    background-color: transparent;
    display: table;
    width: 100%;
    li:first-child {
      width: rem-calc(168);
    }
    @include breakpoint(medium) {
      display: block;
      width: auto;
      li:first-child {
        width: auto;
      }
    }
  }
}

#primary-navigation {
  text-align: center;
  padding-top: rem-calc(12px);
  padding-bottom: rem-calc(12px);
  border-bottom: 4px solid $primary-1;
  .top-bar-center {
    display: inline-block;
    position: relative;
    left: calc(237px/2);// width of social menu / 2
    a {
      padding-right: rem-calc(20px);
      padding-left: rem-calc(20px);
    }
    .menu {
      text-align: left;
      .submenu {
        border: none;
        padding-top: 1rem;
      }
    }
  }
  .top-bar-right {
    text-align: right;
    margin-top: rem-calc(4px);
    a {
      padding: 0 3px;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.8;
      }
    }
    @include breakpoint(medium) {
      text-align: left;
    }
  }
  #primary-menu-toggle {
    button {
      top: -8px;
      margin-left: 1rem;
    }
    button::after {
      background-color: $primary-1;
      box-shadow: 0 7px 0 $primary-1, 0 14px 0 $primary-1;
    }
  }
  #primary-menu-toggle, .social-links {
    display: inline-block;
    @include breakpoint(medium) {
      display: block;
    }
  }
  @include breakpoint(medium) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
  }
}
#primary-nav, #primary-mobile-nav {
  font-size: rem-calc(18pt);
  a {
    color: $primary-1;
    &:hover {
      color: $secondary-1;
    }
  }
}
#primary-mobile-nav {
  background-color: $white;
  border-bottom: 4px solid $primary-1;
  text-align: center;
  .menu.nested {
    margin-left: 3rem;
  }
}

#large-logo {
  position: absolute;
  top: -80px;
  left: 16px;
  > img {
    max-width: 124px;
  }
  @include breakpoint(medium) {
    top: -92px;
    left: 0;
  }
}