#recipe-category-dropdown {
  a {
    color: $primary-1;
    &:hover {
      color: $secondary-1;
    }
  }
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  font-family: "FontAwesome";
  content: "\f105";
  color: $primary-1;
  border: none;
  position: relative;
  top:-2px;
  right:0;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow.is-active > a::after {
  content: "\f107";
}

.is-accordion-submenu-parent > a::after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f105";
  color: $primary-1;
  border: none;
  position: relative;
  margin-top: 2px;
  top: 0;
  right:0;
  padding-left: 1rem;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
  content: "\f107";
  transform: scale(1);
}
.is-accordion-submenu-parent[aria-expanded="true"] > a {
  color: $secondary-1;
}

#top-bar-container {
  width: 100%;
  margin-top: 0 !important;
  .row.column {
    position: relative;
  }
}
.admin-bar #top-bar-container {
  margin-top: 0 !important;
  @media all and (min-width: 769px) {
    margin-top: 32px !important;
  }
}

#search-bar {
  background-color: $secondary-1;
  > .collapse {
    padding: 0;
  }
  .button-group {
    margin-right: 2px;
    position: relative;
    margin-bottom: 0;
    .button {
      font-size: rem-calc(15px);
    }
    .button:not(:last-child) {
      border-right-color: $secondary-1;
      border-right-width: 2px;
    }
  }
  .input-group {
    margin-bottom: 0;
  }
  input {
    margin-right: 2px;
    border: none;
    width: calc(100% - 2px);
    -moz-appearance:    textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    &::-webkit-input-placeholder {
      color: $primary-3;
    }
    &:-moz-placeholder {
      /* FF 4-18 */
      color: $primary-3;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* FF 19+ */
      color: $primary-3;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $primary-3;
    }
    @include breakpoint(medium) {
      width: 290px;
    }
  }
  a.button {
    color: $white;
  }
  button {
    .fa {
      font-size: rem-calc(14.7px);
      position: relative;
      top: rem-calc(-1px);
      left: rem-calc(-1px);
    }
  }
  .menu {
    background-color: transparent;
    display: table;
    width: 100%;
    li:first-child {
      width: rem-calc(190);
    }
    @include breakpoint(medium) {
      display: block;
      width: auto;
      li:first-child {
        width: auto;
      }
    }
  }
}
.shrink #primary-navigation {
  height: 0;
  padding: 0;
  overflow: hidden;
}
#primary-navigation {
  text-align: center;
  padding-top: rem-calc(12px);
  padding-bottom: rem-calc(12px);
  border-bottom: 4px solid $primary-1;
  > .row.column {
    padding: 0;
  }
  .top-bar-center {
    a {
      padding-right: rem-calc(20px);
      padding-left: rem-calc(20px);
    }
    .menu {
      text-align: left;
      .submenu {
        border: none;
        padding-top: 1rem;
      }
    }
    @include breakpoint(medium) {
      > div {
        text-align: center;
      }
      #primary-nav {
        display: inline-block;
      }
    }
    @include breakpoint(medium) {
      > div {
        text-align: right;
      }
    }
    @include breakpoint(800px) {
      > div {
        text-align: center;
      }
      #primary-nav {
        display: inline-block;
      }
    }
    /**
     * center with inline block
     * Then move left by half of social bar
     * then move right by half of logo
     */
    @include breakpoint(large) {
      display: inline-block;
      position: relative;
      left: calc(231px/2 - 124px/2);
    }
  }
  .top-bar-right {
    text-align: right;
    margin-top: rem-calc(4px);
    position: relative;
    right: -4px;
    top: -2px;
    a {
      padding: 0 3px;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.8;
      }
    }
    @include breakpoint(medium) {
      padding-right: rem-calc(20px);
    }
    @include breakpoint(800px) {
      padding-right: 0;
      text-align: left;
      display: inline-block;
      float: none;
    }
    @include breakpoint(large) {
      text-align: right;
      float: right;
    }
  }
  #primary-menu-toggle {
    padding-right: 16px;
    button {
      top: -12px;
      margin-left: 1rem;
    }
    button::after {
      background-color: $primary-1;
      box-shadow: 0 7px 0 $primary-1, 0 14px 0 $primary-1;
    }
  }
  #primary-menu-toggle, .social-links {
    display: inline-block;
    li:first-of-type {
      a {
        padding-left: 0;
      }
    }
    li:last-of-type {
      a {
        padding-right: 0;
      }
    }
    @include breakpoint(medium) {
      display: block;
    }
  }
  .social-links {
    li:nth-child(5), li:nth-child(6) {
      display: none;
    }
    @include breakpoint(450px) {
      li:nth-child(5), li:nth-child(6) {
        display: table-cell;
      }
    }
  }
  @include breakpoint(medium) {
    padding-left: 128px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
  }
}
#primary-nav, #primary-mobile-nav {
  font-size: rem-calc(16px);
  text-transform: uppercase;
  .submenu {
    font-size: rem-calc(14px);
    @include breakpoint(small only) {
      font-size: rem-calc(12px);
    }
  }
  a {
    color: $primary-1;
    &:hover {
      color: $secondary-1;
    }
  }
}
#primary-mobile-nav {
  background-color: $white;
  border-bottom: 4px solid $primary-1;
  text-align: center;
}

.shrink #large-logo {
  display: none;
  @include breakpoint(medium) {
    display: inline-block;
    img {
      max-width: 80px;
      position: relative;
      top: 50px;
    }
  }
}
#large-logo {
  position: absolute;
  top: -60px;
  left: 8px;
  > img {
    max-width: 80px;
  }
  @include breakpoint(450px) {
    top: -60px;
    left: 16px;
    > img {
      max-width: 124px;
    }
  }
  @include breakpoint(medium) {
    top: -92px;
    left: 0;
  }
}