@media print {
  .print-only {
    display: block !important;
  }
  .sticky-container, #signup, #footer-logo, #footer, #comments, #share, #side, #recipe-related-title, #recipe-related {
    display: none;
  }
  .slick button {
    display: none !important;
  }
  .slick-slide:not(.slick-current) {
    display: none;
  }
  #content {
    padding: rem-calc(35px) 0 0 0 !important;
    margin-bottom: $global-margin*4;
  }
  h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
  }
  h4 {
    font-size: rem-calc(21px);
  }
  #recipe-overview {
    > .large-4.columns {
      width: 25%;
      .button {
        display: none;
      }
    }
    > .large-8.columns {
      width: 75%;
    }
    .print-only {
      width: 100%;
      margin-top: $global-margin;
      th {
        text-align: left;
      }
    }
    .slick {
      border: none;
      padding: 0;
      .slick-track {
        width: 100% !important;
        img {
          width: 100% !important;
        }
      }
    }
  }
  #recipe-instructions {
    > .large-4.columns {
      width: 25%;
      .small-3.columns {
        display: none;
      }
      .small-9.columns {
        width: 100%;
      }
    }
    > .large-8.columns {
      width: 75%;
    }
    .row h5 {
      font-size: rem-calc(16px);
    }
  }
  #directions h5 {
    font-size: rem-calc(16px);
  }
  #details {
    tr:nth-child(1), tr:nth-child(1n+6) {
      display: none;
    }
  }
  #custom {
    display: none;
  }

  #print-footer {
    display: block;
    text-align: center;
    font-size: rem-calc(10px);
    .print-logo {
      margin-bottom: rem-calc(8px);
      img {
        width: rem-calc(28px);
        position: relative;
        bottom: 2px;
      }
    }
    .title {
      font-family: $header-font-family;
      color: $secondary-color !important;
      font-size: rem-calc(28px);
      position: relative;
      top: 4px;
      font-weight: $global-weight-bold;
    }
  }
}