// colors
$primary-1: #773D1A;
$primary-2: #7AA470;
$primary-3: #F15B24;
$secondary-1: #A9544D;
$secondary-2: #787878;
$secondary-3: #F8F3E7;
$primary-color: $primary-3;
$success-color: $primary-2;
$secondary-color: $primary-1;
$footer-social-icon-color: #002615;
$footer-color: #3f3e2c;
$footer-font-color: #729785;
$white: #FFF;

// fonts
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald");
$font_amatic: 'Amatic SC', cursive;
$font_raleway: 'Raleway', sans-serif;
$font_oswald: 'Oswald', sans-serif;
$global-font-size: 14;
$body-font-color: #58595B;
$body-font-family: $font_raleway;
$header-font-family: $font_amatic;
$header-font-weight: bold;
$header-sizes: (small: ('h1': 54, 'h2': 36, 'h3': 32, 'h4': 30), medium: ('h1': 72, 'h2': 54, 'h3': 36, 'h4': 30));
$header-color: $primary-1;
$anchor-color: $primary-3;
$anchor-color-hover: scale-color($anchor-color, $lightness: 20%);

// global
$body-background: $secondary-3;
$button-padding: 0.85em 1em;

// top bar
$topbar-padding: 4px;
$topbar-background: $white;
$topbar-link-color: $primary-1;