.slick {
  background-color: #FFF;
  border: 1px solid #fcdedc;
  padding: 6px;
}
.slick-next {
  right: 5px;
  &:before {
    content: "\f105";
  }
}
.slick-prev {
  left: 6px;
  &:before {
    content: "\f104";
  }
}
.slick-next, .slick-prev {
  padding: 1rem;
  z-index: 1;
  background-color: #71a421 !important;
  &:before {
    font-family: 'FontAwesome';
    line-height: 0;
  }
  &:hover {
    background-color: $primary-2 !important;
  }
  &:active {
    background-color: #71a421 !important;
  }
}
.slick-slide {
  height: auto !important;
}
#recipe-overview {
  h1 {
    font-size: rem-calc(36px);
    line-height: 1;
    margin: 0 0 1rem 0;
  }
}
#recipe-instructions {
  margin-bottom: 2rem;
}
#directions {
  .icon {
    float: left;
    font-size: 3rem;
  }
  .content {
    margin-left: 4rem;
    margin-bottom: 2rem;
  }
}

#share {
  margin-bottom: 1rem;
}

#side {
  background-color: #FFF;
  padding: rem-calc(24);
  border: 1px solid #fcdedc;
  #author {
    margin-bottom: 2rem;
    img {
      border-radius: 100%;
    }
    h4 {
      float: right;
    }
  }
  #details {
    clear: both;
    width: 100%;
    border: 0 solid transparent;
    tr, tbody, th, td { border: 0 solid transparent; }
    tr {
      background-color: transparent;
    }
    th {
      font-weight:normal;
      text-align: left;
      padding-left: 0;
    }
    td {
      text-align: right;
      padding-right: 0;
    }
  }
}