.slick {
  background-color: #FFF;
  border: 1px solid #fcdedc;
  padding: 6px;
  button {
    display: block !important;
  }

}
.slick-next {
  right: 5px;
  &:before {
    content: "\f105";
  }
}
.slick-prev {
  left: 6px;
  &:before {
    content: "\f104";
  }
}
.slick-next, .slick-prev {
  padding: 1rem;
  z-index: 1;
  background-color: #71a421 !important;
  &:before {
    font-family: 'FontAwesome';
    line-height: 0;
  }
  &:hover {
    background-color: $primary-2 !important;
  }
  &:active {
    background-color: #71a421 !important;
  }
}
.slick-slide {
  height: auto !important;
}
#recipe-overview {
  h1 {
    font-size: rem-calc(36px);
    line-height: 1;
    margin: 0 0 1rem 0;
  }
}
#recipe-instructions {
  margin-bottom: 2rem;
  .strike {
    text-decoration: line-through;
  }
  .row h4 {
    margin-top: $global-margin;
  }
  .row h5 {
    font-size: rem-calc(20px);
  }
}
#directions {
  h5 {
    font-size: rem-calc(20px);
  }
  ol {
    margin-top: 1rem;
    margin-left: 3rem;
    counter-reset: customlistcounter;
    list-style:none;
  }
  li {
    font-size: 1.5rem;
    position: relative;
    &:not(.skip) {
      counter-increment: customlistcounter;
      &:before {
        position: absolute;
        content:counter(customlistcounter) ".";
        left: -1.5rem;
        top: -0.5rem;
      }
    }
    &.skip {
      margin-bottom: 1rem;
      margin-left: -40px;
    }
  }
  .content {
    position: relative;
    top: -0.2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

#share {
  margin-bottom: 1rem;
}

#side {
  background-color: #FFF;
  padding: rem-calc(24);
  border: 1px solid #fcdedc;
  #author {
    margin-bottom: 2rem;
    img {
      border-radius: 100%;
    }
    h4 {
      float: right;
    }
  }
  #details, #share {
    clear: both;
    width: 100%;
    border: 0 solid transparent;
    tr, tbody, th, td { border: 0 solid transparent; }
    tr {
      background-color: transparent;
    }
    th {
      font-weight:normal;
      text-align: left;
      padding-left: 0;
    }
    td {
      text-align: right;
      padding-right: 0;
    }
  }
  #share .stButton .stLarge {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    font-size: 1rem;
    background-image: url("../images/social-icons.png") !important;
    color: transparent;
  }
  .st_pinterest_large .stLarge { background-position: 0 !important; }
  .st_facebook_large .stLarge { background-position: -35px !important; }
  .st_stumbleupon_large .stLarge { background-position: -69px !important; }
  .st_twitter_large .stLarge { background-position: -103px !important; }
  .st_googleplus_large .stLarge { background-position: -138px !important; }
  .st_print_large .stLarge { background-position: -175px !important;}
  .st_email_large .stLarge { background-position: -209px !important; }
}