#post-featured-image {
  float: left;
  margin: 0 2rem 1rem 0;
  background-color: #FFF;
  border: 1px solid #fcdedc;
  padding: 6px;
}
#categories a {
  padding-left: 0;
  padding-right: 0;
  span {
    color: $body-font-color;
  }
}
#search-post {
  input[type=search], input[type=text] {
    -moz-appearance:    textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    &::-webkit-input-placeholder {
      color: $primary-3;
    }
    &:-moz-placeholder {
      /* FF 4-18 */
      color: $primary-3;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* FF 19+ */
      color: $primary-3;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $primary-3;
    }
  }
}