.teasers .column article:first-child {
  margin-bottom: rem-calc(30px);
}
.teasers .column article {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(30px);
  }
  @include breakpoint(medium only) {
    margin-bottom: rem-calc(30px);
  }
}
.teaser {
  border: 1px solid $border-color;
  background-color: #FFF;
  padding: rem-calc(4px);
  img.featured, img.attachment-teaser {
    width: 100%;
    height: auto;
    max-width:none;
  }
  .rating {
    display: inline-block;
    position: relative;
    right: 0px;
    float: right;
    top: -2rem;
    margin-bottom: -2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    .fa {
      font-size: rem-calc(18px);
    }
  }
  .inner-content {
    padding: 8px;
    h4 > a {
      color: $primary-1;
      font-size: rem-calc(24px);
      &:hover {
        color: $header-link-hover-color;
      }
    }
  }
  .author-info {
    margin: 1rem 0 2rem 0;
    img {
      border-radius: 100%;
      margin-right: 0.5rem;
    }
    a {
      color: $primary-2;
    }
  }
  .meta-info {
    border-top: 1px solid $border-color;
    margin: 0;
    padding: 8px 0 0;
    p {
      margin: 0;
    }
    .fa {
      color: $primary-3;
    }
    .fa.fa-users {
      color: transparent;
      width: 29px;
      height: 16px;
      background-image: url('../images/users.min.png');
    }
    .fa.fa-clock-o {
      font-size: rem-calc(18px);
      position: relative;
      top: rem-calc(3px);
    }
  }
}