.teasers .column article:first-child {
  margin-bottom: 30px;
}
.teaser {
  border: 1px solid $border-color;
  background-color: #FFF;
  padding: rem-calc(4px);
  img.featured {
    width: 100%;
    height: auto;
    max-width:none;
  }
  .inner-content {
    padding: 8px;
    h4 > a {
      color: $primary-1;
      font-size: rem-calc(24px);
      &:hover {
        color: $primary-2;
      }
    }
  }
  .author-info {
    img {
      border-radius: 100%;
    }
  }
  .meta-info {
    border-top: 1px solid $primary-3;
    margin: 0;
    padding: 8px 0 0;
    p {
      margin: 0;
    }
    .fa {
      color: $primary-3;
    }
    .fa.fa-users {
      color: transparent;
      width: 29px;
      height: 16px;
      background-image: url('../images/users.min.png');
    }
  }
}