@import "settings";
@import "foundation";
@include foundation-everything();

@import "typography";
@import "navigation";
@import "signup";
@import "footer-logo";
@import "footer";
@import "single-recipes";
@import "single-post";
@import "teasers";
@import "ads";
@import "home";
@import "comments";
@import "archives";
@import "mailchimp";
@import "print";


@font-face {
  font-family: 'Besom-free-font 2';
  src:  url('../fonts/Besom-free-font 2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.row .columns.collapse {
  padding: 0;
}

.alignright {
  float: right;
  padding: 1rem;
}

.social-links {
  .fa {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    font-size: 1rem;
    background-image: url("../images/social-icons.png");
    color: transparent;
  }

  .fa-instagram, .fa-instagram:hover { background-position: 30px; }
  .fa-pinterest, .fa-pinterest:hover { background-position: 0; }
  .fa-facebook, .fa-facebook:hover { background-position: -36px; }
  .fa-twitter, .fa-twitter:hover { background-position: -107px; }
  .fa-google-plus, .fa-google-plus:hover { background-position: -143px; }
  .fa.all-recipes {
    background-image: url('../images/AllRecipes.png');
    background-repeat: no-repeat;
  }
}

.dropdown-pane {
  background-color: $white;
  border: none;
}

.form-submit .submit {
  @extend .button;
  @extend .large;
}

.fa-star {
  color: $primary-3;
}

#content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.tabs {
  border: none;
  display: inline-block;
}
.tabs + br, .tabs-content > br {
  display: none;
}
.tabs-title > a {
  font-family: $header-font-family;
  font-size: 20px;
  border: 1px solid #CCC;
  border-right: none;
}
.tabs-title:last-of-type > a {
  border-right: 1px solid #CCC;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"], .tabs-title > a:hover {
  color: $primary-3;
}

.attachment-post-thumbnail {
  margin-bottom: 2rem;
  @include breakpoint(medium){
    margin-bottom: 0;
  }
}

/** code another developer placed in the compiled css file instead of in sass. **/
#gform_3 div {
  display: inline-block !important;
  clear: none !important;
  width: auto !important;
}
#gform_3 label, #input_3_2, .gfield_description {
  display: none !important;
}

#gform_3 #field_3_1 div {
  width: 100% !important;
}


#primary .wprm-recipe-container .wprm-recipe {
  background-color: transparent;
  border: none;
}
.wprm-recipe-details-container br, .wprm-recipe-ingredient br, .wprm-recipe-details-icon br {
  display: none;
}