@import "settings";
@import "foundation";
@include foundation-everything();

@import "typography";
@import "navigation";
@import "signup";
@import "footer-logo";
@import "footer";
@import "single-recipes";
@import "single-post";
@import "teasers";
@import "ads";
@import "home";
@import "comments";

.row .columns.collapse {
  padding: 0;
}


.social-links {
  .fa {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    font-size: 1rem;
    background-image: url("../images/social-icons.png");
    color: transparent;
  }

  .fa-instagram, .fa-instagram:hover { background-position: 30px; }
  .fa-pinterest, .fa-pinterest:hover { background-position: 0; }
  .fa-facebook, .fa-facebook:hover { background-position: -36px; }
  .fa-twitter, .fa-twitter:hover { background-position: -107px; }
  .fa-google-plus, .fa-google-plus:hover { background-position: -143px; }
  .fa.all-recipes {
    background-image: url('../images/AllRecipes.png');
    background-repeat: no-repeat;
  }
}

#share .stButton .stLarge {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  font-size: 1rem;
  background-image: url("../images/social-icons.png") !important;
  color: transparent;
}
.st_pinterest_large .stLarge { background-position: 0 !important; }
.st_facebook_large .stLarge { background-position: -36px !important; }
.st_stumbleupon_large .stLarge { background-position: -71px !important; }
.st_twitter_large .stLarge { background-position: -107px !important; }
.st_googleplus_large .stLarge { background-position: -143px !important; }
.st_print_large .stLarge { background-position: -181px !important;}
.st_email_large .stLarge { background-position: -217px !important; }

.dropdown-pane {
  background-color: $white;
  border: none;
}

.form-submit .submit {
  @extend .button;
  @extend .large;
}

.fa-star {
  color: $primary-3;
}

#content {
  padding-top: 80px;
  padding-bottom: 80px;
}