@import "settings";
@import "foundation";
@include foundation-everything();

@import "typography";
@import "navigation";
@import "signup";
@import "footer-logo";
@import "footer";
@import "single-recipes";
@import "single-post";
@import "teasers";
@import "ads";
@import "home";

.row .columns.collapse {
  padding: 0;
}


.social-links {
  .fa {
    color: #FFF;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    font-size: 1rem;
  }
  .fa-instagram { background-color: #405f85; }
  .fa-pinterest { background-color: #e55338; }
  .fa-facebook { background-color: #9681a5; }
  .fa-stumbleupon { background-color: #f68139; }
  .fa-twitter { background-color: #a2bff2; }
  .fa-google-plus { background-color: #ee7547; }
  .fa.all-recipes {
    background-image: url('../images/AllRecipes.png');
    background-repeat: no-repeat;
  }
}

.dropdown-pane {
  background-color: $white;
  border: none;
}

#content {
  padding-top: 80px;
  padding-bottom: 80px;
}